.DS_Store

CMakeFiles
CMakeFiles/**/*
Testing
Testing/**/*
lib
lib/**/*
gmock-1.6.0
gmock-1.6.0/**/*
glfw-2.7.8
glfw-2.7.8/**/*
glew-1.9.0
glew-1.9.0/**/*

CMakeCache.txt
CTestTestfile.cmake
Makefile
cmake_install.cmake
gtest-1.6.0

crimild_core_test

