[submodule "third-party/glfw"]
	path = third-party/glfw
	url = https://github.com/glfw/glfw.git
	ignore = dirty
[submodule "third-party/assimp"]
	path = third-party/assimp
	url = https://github.com/assimp/assimp.git
	ignore = dirty
[submodule "third-party/stb"]
	path = third-party/stb
	url = https://github.com/nothings/stb.git
	ignore = dirty
[submodule "third-party/imgui"]
	path = third-party/imgui
	url = https://github.com/ocornut/imgui.git
	ignore = dirty
[submodule "third-party/glslang"]
	path = third-party/glslang
	url = git@github.com:KhronosGroup/glslang.git
    ignore = dirty
[submodule "third-party/googletest"]
	path = third-party/googletest
	url = https://github.com/google/googletest.git
	ignore = dirty
[submodule "third-party/imguizmo"]
	path = third-party/imguizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
