.DS_Store

CMakeFiles
CMakeFiles/**/*
Testing
Testing/**/*
lib
lib/**/*
gmock-1.6.0
gmock-1.6.0/**/*
glfw-2.7.8
glfw-2.7.8/**/*
glfw-3.0.4
glfw-3.0.4/**/*
glew-1.9.0
glew-1.9.0/**/*
lua-5.2.3
lua-5.2.3/**/*

CMakeCache.txt
CTestTestfile.cmake
Makefile
cmake_install.cmake
gtest-1.6.0

crimild_core_test

CRIMILD.xcodeproj
CMakeScripts
*.build

\#*\#
*~
third-party/bullet-2.82-r2704
scripting/test/crimild_scripting_test
tools/fontgen/fontgen
*.xcodeproj
scripting/test/Debug
/bin
*.crimild
third-party/glew-1.13.0
/third-party/glew
/tools/fontgen/*.tga
/tools/fontgen/*.txt
/doc/documentation
tools/fontgen/Debug/

# visual studio files
*.vcxproj
*.vcxproj.*
*.sln
*.dir/

third-party/lua

tools/sceneEncoder/Debug
tools/sceneEncoder/sceneEncoder
third-party/vulkansdk
resourceEncoder
imgui.ini
build
.vscode
