[submodule "third-party/glfw"]
	path = third-party/glfw
	url = https://github.com/glfw/glfw.git
	ignore = dirty
[submodule "third-party/glew"]
	path = third-party/glew
	url = https://github.com/nigels-com/glew.git
	ignore = dirty
[submodule "third-party/assimp"]
	path = third-party/assimp
	url = https://github.com/hhsaez/assimp.git
	ignore = dirty
